<h2 class="page-header" ng-repeat="r in review | unique: 'businessName' ">{{r.businessName}}</h2>

<p ng-repeat="r in review">
	<img class="stars" ng-src="{{r.rating == '1' && 'images/one_star.png' || r.rating == '2' && 'images/two_stars.png' || r.rating == '3' && 'images/three_stars.png' || r.rating == '4' && 'images/four_stars.png' || r.rating == '4.5' && 'images/fourhalf_stars.png' || r.rating == '5' && 'images/five_stars.png' }}">
	<br>
	<a href="#/members/{{r.reviewerId}}">{{r.comment}}</a></li>
</p>